doctype html
head
  title Server Error
  link(rel='stylesheet' href='../public/stylesheets/style.css')
h1= `${error.message} - Status: ${error.status}`
p Sorry! There was an unexpected error on the server.
