doctype html
head
  title Books
  link(href='../public/stylesheets/style.css' rel='stylesheet')
h1 Books
p
  a.button(href='new_book.html') Create New Book
table
  thead
    tr
      th Title
      th Author
      th Genre
      th Year
  tbody
    tr
      td
        a(href='book_detail.html')= allBooks.title
      td= allBooks.author
      td= allBooks.genre
      td= allBooks.year